/* #doc-box {
  width: 60vh;
  height: auto;
  background-color: white;
  border-width:1px;
  border-style:solid;
  border-color: black;
  margin: auto;
  box-shadow: 5px 10px #888888;
}

#bg-text {
  width: 60vh;
  height: auto;
  background-color: red;
  border-width:1px;
  border-style:solid;
  border-color: black;
  margin-top: 90em;
  box-shadow: 5px 10px #888888;
} */

#bgtext:before {
  content:"";
  position: absolute;
  height: 0px;
  width: 0px;
  top: 60px;
  left: -29px; /* 1px buffer for zooming problems while rendering*/
  border-width: 15px;
  border-color: transparent #ededed transparent transparent;
  border-style: solid;
}